*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

/*Header & Nav*/

.main_header{
    position: relative;
    width: 1700px;
    height: 92px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
    

}

.main_header ul{
    list-style: none;
}

.main_header a{
    text-decoration: none;
}

.main_header li{
    margin: 0 15px;
}

.main_nav .main_nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_link a{
    width: 80px;
    height: 19px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    
    color: #0C0114;
}

.nav-link a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    position: absolute;
    width: 93px;
    height: 51px;
    top: 20px;
    background: #EEE8F2;
    border-radius: 4px;
    
}

.nav-links a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    position: absolute;
    width: 166px;
    height: 51px;
    top: 20px;
    color: #FFFFFF;
    background-color: #3E0563;
    border-radius: 4px;
}

/*Personality Section*/
.Info h1{

    position: absolute;
    width: 1500px;
    height: 230px;
    left: 169.86px;
    top: 159.06px;
    
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    letter-spacing: -0.06em;
     color: #0C0114;
}

.search{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 980px;
    top: 414px;
    background: #3E0563;
    border-radius: 4px;
}

/*Target Section*/
.Target{
    position: absolute;
    width: 1800px;
    height: 692px;
    left: 0px;
    top: 676px;
    background: #1F0231;
}

.Target>h2{
    position: absolute;
    width: 211px;
    height: 58px;
    left: 614px;
    top: 56px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;


}

.Target>ul>li{
    
}

.Functions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 1280px;
    height: 290px;
    left: 80px;
    top: 201px;
    
}

.aware{
    box-sizing: border-box;
    margin-top: 201px;
    margin-left: 80px;
    width: 290px;
    height: 290px; 
    border: 2px solid #9E82B1;
    flex: none;
    order: 0;
    flex-grow: 0;
}
